In [8]:
import csv
import pandas as pd

In [9]:
## Removes TOTAL from records

path = './dataset/DM_Dataset-T12.csv'
csv_reader = csv.reader(open(path, 'r'))
all_records = []
header = []

for idx,record in enumerate(csv_reader):
    if idx == 0:
        header = [data.lower() for data in record]
    elif 'total' not in record[1].lower():
        all_records.append([data.lower() for data in record])

df = pd.DataFrame(all_records, columns=header)
for column in header[3:]:
    df[column] = df[column].apply(pd.to_numeric, errors='coerce')
df.drop(['infanticide', 'literacy rate- total', 'literacy rate - rural', 'literacy rate - urban'], axis=1, inplace=True)

In [10]:
df.state.unique()

array(['andhra pradesh', 'arunachal pradesh', 'assam', 'bihar',
       'chhattisgarh', 'goa', 'gujarat', 'haryana', 'himachal pradesh',
       'jammu & kashmir', 'jharkhand', 'karnataka', 'kerala',
       'madhya pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram',
       'nagaland', 'odisha', 'punjab', 'rajasthan', 'sikkim',
       'tamil nadu', 'tripura', 'uttar pradesh', 'uttarakhand',
       'west bengal', 'a & n islands', 'chandigarh', 'd & n haveli',
       'daman & diu', 'delhi', 'lakshadweep', 'puducherry', 'a&n islands',
       'd&n haveli', 'delhi ut', 'telangana'], dtype=object)

In [11]:
for i in range (len(df)):
    if df['state'].loc[i] == 'a & n islands': df['state'].loc[i] = 'a&n islands'
    if df['state'].loc[i] == 'd & n haveli': df['state'].loc[i] = 'd&n haveli'
    if df['state'].loc[i] == 'delhi ut': df['state'].loc[i] = 'delhi'
len(df.state.unique())

36

In [12]:
state_clubbed = []
state_index = 0
state = 0

while state_index < len(df):
    state = df['state'].loc[state_index]
    year = df['year'].loc[state_index]
    dist_index = state_index
    while dist_index < len(df) and df['state'].loc[dist_index] == state:
        dist_index += 1
    temp = df.iloc[state_index : dist_index].drop(['state', 'district', 'year'], axis=1).sum().to_list()
    temp.insert(0,state)
    temp.insert(1,int(year))
    state_clubbed.append(temp)
    
    state_index = dist_index

In [13]:
state_df = pd.DataFrame(state_clubbed)

In [16]:
state_df.dtypes
state_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,andhra pradesh,2001,35.0,84.0,0.0,57.0,7.0,22.0,12.0,0.0,6.0,47.0,270.0
1,arunachal pradesh,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,assam,2001,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
3,bihar,2001,2.0,16.0,0.0,26.0,0.0,1.0,16.0,1.0,2.0,18.0,83.0
4,chhattisgarh,2001,14.0,150.0,5.0,46.0,1.0,15.0,0.0,0.0,0.0,354.0,585.0

In [17]:
df.to_pickle('state_df.pickle')

[1, 2, 3]