In [1]:
from sklearn.neighbors import BallTree
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale

/home/pranjal/.local/share/virtualenvs/crime-analysis-report-pk3Cf-oK/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

The Hopkins statistic is a way of measuring the cluster tendency of a data set. It belongs to the family of sparse sampling tests.

Dataset used : [https://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work](https://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work)

In [2]:
# dataset = pd.read_csv('./Absenteeism_at_work.csv', sep=';')
dataset = pd.read_pickle('./state_clubbed_df.pickle')
sampling_size = 350

In [3]:
rows, columns = dataset.shape
print ("Total rows : {}\t Total columns: {}".format(rows, columns))

Total rows : 527	 Total columns: 13

In [4]:
dataset.head()

,state,year,murder,rape,foeticide,kidnapping and abduction,abetment of suicide,exposure and abandonment,procuration of minor girls,selling girls for prostitution,prohibition of child marriage act,other crimes,total
0,andhra pradesh,2001,35.0,84.0,0.0,57.0,7.0,22.0,12.0,0.0,6.0,47.0,270.0
1,arunachal pradesh,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,assam,2001,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
3,bihar,2001,2.0,16.0,0.0,26.0,0.0,1.0,16.0,1.0,2.0,18.0,83.0
4,chhattisgarh,2001,14.0,150.0,5.0,46.0,1.0,15.0,0.0,0.0,0.0,354.0,585.0

In [5]:
# Scaling and Preprocessing the dataset

dataset.drop(['state', 'year', 'total'], axis=1, inplace=True)
dataset = pd.DataFrame(scale(dataset))

In [6]:
# Sample n observations from D : P

if sampling_size > dataset.shape[0]:
    raise Exception(
        'The number of sample of sample is bigger than the shape of D')

sample_dataset = dataset.sample(n=sampling_size)
sample_dataset.shape

(350, 10)

In [7]:
sample_dataset.head()

,0,1,2,3,4,5,6,7,8,9
127,-0.493590,-0.553041,-0.288881,-0.389615,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.382702
82,-0.137998,-0.340309,-0.422895,-0.367321,-0.281905,-0.417052,-0.139839,-0.183679,-0.442216,-0.286832
279,-0.505852,-0.543656,-0.422895,-0.376876,-0.113082,-0.417052,-0.216594,-0.183679,-0.442216,-0.376450
136,-0.518114,-0.553041,-0.422895,-0.391738,-0.281905,-0.417052,-0.216594,-0.183679,-0.442216,-0.386870
351,-0.518114,-0.493601,-0.422895,-0.375814,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.386870

In [8]:
# Get the distance to their neirest neighbors in D : X

tree = BallTree(dataset, leaf_size=2)
dist, _ = tree.query(sample_dataset, k=2)
sample_knn_dist = dist[:, 1]

In [9]:
sample_knn_dist

array([1.43418414e-02, 1.60404301e-01, 2.14411993e-02, 3.78086878e-03,
       8.46560314e-03, 1.05081060e+00, 5.79036287e+00, 2.81284194e+00,
       7.15177607e-01, 3.32705481e-02, 1.18437479e+00, 2.14411993e-02,
       6.85397542e-01, 2.66010591e-01, 1.28314870e-02, 1.38563474e-02,
       0.00000000e+00, 7.09143749e-02, 5.48479239e-01, 6.75342808e-01,
       2.45172932e-02, 1.05994124e+00, 8.28493101e-01, 1.01815988e-01,
       7.04209396e-02, 3.41071097e-01, 1.77865114e+00, 0.00000000e+00,
       3.38606227e-01, 1.03626282e-01, 0.00000000e+00, 1.76785313e-01,
       1.10564771e+00, 5.62756423e-03, 3.30363296e-03, 1.97506099e-02,
       1.39738131e-02, 1.44975519e+00, 0.00000000e+00, 1.19779621e+00,
       0.00000000e+00, 2.73844681e-02, 6.61834747e-01, 1.69608565e-02,
       2.83706676e-02, 2.93591612e-02, 0.00000000e+00, 2.53197552e-01,
       3.12841782e-03, 5.89102923e-02, 7.32356156e-03, 3.92000065e-01,
       2.00096472e-01, 1.05994124e+00, 0.00000000e+00, 3.79739988e-01,
       0.00000000e+00, 3.78086878e-03, 5.45582309e-01, 1.29892158e-01,
       3.01249824e-01, 1.27964801e+00, 2.40351124e-02, 9.22006936e-01,
       0.00000000e+00, 6.85298391e-01, 2.28629589e-02, 4.15575684e-02,
       2.62446086e-01, 3.67324157e-01, 0.00000000e+00, 5.92700389e-02,
       2.08413714e-03, 3.78379091e-02, 9.05409943e-02, 7.21742139e-02,
       6.25241142e-03, 4.79655236e-01, 2.73844681e-02, 5.93905157e-01,
       9.22338609e+00, 3.81836746e-01, 5.22365505e-02, 3.12841782e-03,
       3.68091254e-02, 3.45587921e-02, 2.45043610e+00, 1.38563474e-02,
       6.94936222e-01, 3.43886463e-01, 3.38606227e-01, 1.04827806e+00,
       4.58050763e-01, 1.02687480e-01, 1.05081060e+00, 1.25136713e-02,
       0.00000000e+00, 1.30796992e-02, 1.81409909e-02, 9.22006936e-01,
       9.54179143e-02, 2.04115495e-02, 3.44510785e-02, 6.61834747e-01,
       4.15798983e-02, 8.10604407e-02, 3.10794884e-01, 1.91928332e-01,
       6.82195460e-02, 0.00000000e+00, 1.28937023e+00, 5.85387663e-01,
       8.63557147e+00, 3.68123854e-02, 1.50015905e+00, 8.53659731e-01,
       1.22863383e-01, 2.89754961e-01, 6.42585209e-02, 1.06385690e-01,
       1.27192284e+00, 8.80298313e-01, 1.23717492e+00, 0.00000000e+00,
       4.92682045e-03, 0.00000000e+00, 7.56173756e-03, 0.00000000e+00,
       1.06265084e+00, 3.39130723e-02, 0.00000000e+00, 2.00096472e-01,
       3.42837054e-01, 1.24213180e+00, 3.24135183e-01, 2.33071594e-02,
       3.12841782e-03, 1.18330578e+00, 5.08357458e-02, 2.79859665e-02,
       4.84428267e-02, 7.51018508e-02, 8.09358527e-01, 7.67855126e-01,
       2.40013245e-01, 7.40501754e-02, 3.32705481e-02, 1.07526346e-02,
       5.13400709e-02, 1.01815988e-01, 2.12638560e-02, 1.46759803e+00,
       2.27328781e-01, 2.31588838e-01, 1.64765904e-01, 3.78086878e-03,
       2.97525133e-01, 3.93868197e-02, 4.58578370e-02, 2.77948684e-01,
       2.05806382e-01, 3.39467569e+00, 3.38324110e-02, 1.87846317e-02,
       2.92848482e-01, 1.22618143e-02, 1.44924459e-01, 9.55439198e-03,
       7.08801609e-02, 5.85387663e-01, 1.31839299e-01, 1.39738131e-02,
       1.59271799e-01, 1.67551443e-02, 1.06159911e-03, 5.62756423e-03,
       5.67119991e-03, 0.00000000e+00, 5.84349355e-01, 3.74827298e-02,
       8.70833472e-02, 5.79036287e+00, 0.00000000e+00, 0.00000000e+00,
       1.72292368e+00, 1.98432335e+00, 3.72983524e-02, 1.43418414e-02,
       2.81669321e-01, 2.40013245e-01, 2.64963473e-02, 1.12090617e-01,
       1.51671996e-01, 1.90387727e-02, 9.68428717e-01, 1.43409038e-02,
       1.72250027e-01, 3.12836941e-02, 7.10652607e-01, 2.33893572e-03,
       1.04869383e-01, 1.64811693e+00, 6.08961683e-01, 7.88201973e-01,
       0.00000000e+00, 7.72327120e-01, 1.08502095e+00, 1.10564771e+00,
       1.08019625e+00, 5.24376437e-02, 2.88860417e-02, 2.85758650e-02,
       1.02953566e+00, 2.49392977e+00, 2.81284194e+00, 5.64092479e-02,
       3.30363296e-03, 3.78086878e-03, 1.39108446e+00, 6.75342808e-01,
       3.36201164e+00, 7.13527214e-01, 3.50315690e-01, 6.86162104e-01,
       5.76624545e-02, 5.21047071e-01, 2.75602037e-01, 1.26686630e-02,
       5.17869113e-01, 1.82038519e-01, 1.41202050e+00, 3.67695149e+00,
       1.21282462e+00, 1.01688051e+00, 6.76263433e-01, 0.00000000e+00,
       2.93217870e-01, 3.81439469e+00, 2.39917867e+00, 3.05987992e-01,
       3.58582262e-01, 0.00000000e+00, 1.39286773e-02, 7.32356156e-03,
       2.92848482e-01, 8.63783511e-01, 2.77948684e-01, 3.46683190e-02,
       2.92296178e-01, 6.43554386e-02, 2.88860417e-02, 1.04827806e+00,
       4.48910002e-02, 3.12609282e-01, 3.84748089e-02, 1.48848242e+00,
       2.12319822e-03, 1.09576242e-01, 2.52275265e-02, 8.28493101e-01,
       3.80612160e-03, 4.92682045e-03, 2.67746397e-01, 1.43035795e-02,
       1.78040069e-02, 2.50470205e-01, 1.06265084e+00, 2.24097319e+00,
       1.21077912e-01, 9.90934965e-01, 1.21077912e-01, 1.39553873e-01,
       3.12836941e-02, 6.85397542e-01, 2.33893572e-03, 1.43409038e-02,
       0.00000000e+00, 7.51018508e-02, 2.28629589e-02, 1.04243160e-01,
       7.28329460e-01, 1.77271333e+00, 1.34857713e+00, 3.38324110e-02,
       6.67646030e-02, 5.59884771e-01, 1.70849333e+00, 2.02777829e-02,
       5.72216674e-01, 3.44510785e-02, 2.76572146e-01, 1.40988030e+00,
       3.74776685e+00, 3.31347847e-01, 5.17869113e-01, 1.77271333e+00,
       5.46653394e-02, 1.64480840e+00, 1.11125774e-02, 1.70849333e+00,
       8.93598158e-01, 1.08853347e-01, 4.35566911e-01, 0.00000000e+00,
       0.00000000e+00, 1.59614857e+00, 6.10773629e-03, 4.46429525e-03,
       0.00000000e+00, 5.72216674e-01, 9.55439198e-03, 6.29781052e-01,
       3.80612160e-03, 9.07253083e-02, 3.24135183e-01, 2.14374046e+00,
       7.45103786e-01, 1.29295732e-01, 1.56780721e-02, 1.72091518e+00,
       3.98495585e-01, 1.24213180e+00, 7.76514413e-01, 1.98432335e+00,
       5.44952346e-01, 2.32234616e-02, 0.00000000e+00, 3.55557130e-02,
       1.79859330e+00, 5.95032715e-03, 1.68920308e+00, 4.15350717e-01,
       5.13400709e-02, 1.47398650e-02, 2.40330236e-01, 3.43886463e-01,
       7.95606783e-01, 1.78040069e-02, 7.72327120e-01, 1.01688051e+00,
       1.14192419e+00, 2.80763145e-01, 4.70265848e-01, 6.94936222e-01,
       6.67646030e-02, 1.64480840e+00, 1.65078318e-01, 7.15415690e-01,
       1.51655223e-02, 2.67950208e-01])

In [10]:
# Randomly simulate n points with the same variation as in D : Q.

max_data = dataset.max()
min_data = dataset.min()

uniform_sel_x = np.random.uniform(min_data[0], max_data[0], sampling_size)
uniform_sel_y = np.random.uniform(min_data[1], max_data[1], sampling_size)

uniform_obsv = np.column_stack((uniform_sel_x, uniform_sel_y))
if len(max_data) >= 2:
    for i in range(2, len(max_data)):
        temp = np.random.uniform(min_data[i], max_data[i], sampling_size)
        to_stack = (uniform_obsv, temp)
        uniform_obsv = np.column_stack(to_stack)

uniform_obsv_df = pd.DataFrame(uniform_obsv)
uniform_obsv_df.columns = dataset.columns

In [11]:
uniform_obsv_df.shape

(350, 10)

In [12]:
uniform_obsv_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.582426,4.603702,3.570874,-0.108130,13.164222,0.566526,12.152493,7.562518,5.104814,5.696784
1,1.978109,5.943150,9.390731,2.013481,2.231923,4.654225,0.307149,3.769595,5.839326,5.077317
2,4.891266,0.369420,9.735983,3.960046,5.121592,5.437629,6.228414,7.567991,-0.188147,2.321662
3,3.447057,1.242973,2.201363,5.605777,14.137308,1.169938,12.935832,0.950043,1.526524,6.791687
4,2.357543,1.148352,8.271596,6.478728,4.458407,1.341618,1.165756,0.188902,-0.022944,2.194953

In [13]:
# Get the distance to their neirest neighbors in D : Y

tree = BallTree(dataset, leaf_size=2)
dist, _ = tree.query(uniform_obsv_df, k=1)
uniform_knn_dist = dist

In [14]:
# Calculate the Hopkins Score

x = sum(sample_knn_dist)
y = sum(uniform_knn_dist)

if x + y == 0:
    raise Exception('The denominator of the hopkins statistics is null')

h_stat = (y[0] / (x + y)[0])
print ("The hopkins statistics measure is {}".format(h_stat))

The hopkins statistics measure is 0.9548781992912345